<div class="container mt-4">
  <h2 class="text-center">Productos Disponibles </h2>

  <button
    class="btn btn-primary mb-3"
    data-bs-toggle="modal"
    data-bs-target="#productoModal"
  >
    Agregar Producto
  </button>

  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
      <!--    <th>ID</th> --> 
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of productos; let i = index">
  <!-- Modal para agregar/editar productos      <td>{{ producto.id }}</td> --> 
        <td>{{ producto.nombre }}</td>
        <td>{{ producto.descripcion }}</td>
        <td>{{ producto.precio | currency }}</td>
        <td>{{ producto.stock }}</td>
        <td>
          <button
            class="btn btn-warning btn-sm me-2"
            data-bs-toggle="modal"
            data-bs-target="#productoModal"
            (click)="editarProducto(producto)"
          >
            Editar
          </button>
          <button class="btn btn-danger btn-sm" (click)="producto.id ? eliminarProductos(producto.id) : null">
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal para agregar/editar productos -->
<div
  class="modal fade"
  id="productoModal"
  tabindex="-1"
  aria-labelledby="productoModalLabel"
  aria-hidden="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="productoModalLabel">
          {{ editIndex !== null ? "Editar Producto" : "Agregar Producto" }}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
      <!-- validacion 1-->
        <form [formGroup]="productoForm" (ngSubmit)="crearproductos()">
          <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input
              type="text"
              class="form-control"
              formControlName="nombre"
              required
            />
           <div *ngIf="productoForm.controls['nombre'].invalid && productoForm.controls['nombre'].touched">
            el nombre es obligatorio
          </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Descripción</label>
            <input
              type="text"
              class="form-control"
              formControlName="descripcion"
              required
            />
            <div *ngIf="productoForm.controls['descripcion'].invalid && productoForm.controls['descripcion'].touched">
              La descripcion es obligatoria mi padre,
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Precio</label>
            <input
              type="number"
              class="form-control"
              formControlName="precio"
              required
            />
            <div *ngIf="productoForm.controls['precio'].invalid && productoForm.controls['precio'].touched">
             debes ingresar el precio / el precio no puede ser negativo lo vas a regalar o que?
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Stock</label>
            <input
              type="number"
              class="form-control"
              formControlName="stock"
              required
            />
             <!--Se agrego un touched que al dar click y no llenar el campo envie un mensaje de campo requerido -->
            <div *ngIf="productoForm.controls['stock'].invalid && productoForm.controls['stock'].touched">
              ¿si no hay stock para que verga lo quieres Registrar?(no puedes deber stock)
            </div>
          </div>
          <!-- agregue disiable descativar el boton hasata que se agreguen los campos de manera correcta-->
          <button type="submit" [disabled]="productoForm.invalid" data-bs-dismiss="modal" class="btn btn-success"> <!--se agrega la etiqueta para que se cierre -->
            {{ editIndex !== null ? "Actualizar" : "Agregar" }}
          </button>
          <button
            type="button" 
            (click)="resetproductoForm()"   
            class="btn btn-secondary ms-2"
            data-bs-dismiss="modal"
            id="cerrarModal"
          >
            Cancelar
          </button>
        </form>
      </div>
    </div>
    
  </div>
 
</div>
