<div class="container mt-4">
  <h2 class="text-center">Gestión de Pedidos</h2>

  <!-- Filtro por Cliente -->
  <div class="mb-3">
    <label for="clienteFiltro" class="form-label">Filtrar por Cliente:</label>
    <select
      id="clienteFiltro"
      class="form-select"
      [(ngModel)]="emailSeleccionado"
      (change)="filtrarPedidos()"
    >
      <option value="">-- Seleccionar Cliente --</option>
      <option *ngFor="let cliente of clientes" [value]="cliente.email">
        {{ cliente.nombre }} {{ cliente.apellido }} ({{ cliente.email }})
      </option>
    </select>
  </div>

  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Cliente</th>
        <th>Productos</th>
        <th>Total</th>
        <th>Fecha de Creación</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let pedido of pedidosFiltrados; let i = index"
        [ngClass]="obtenerClaseEstado(pedido.estado)"
      >
        <td>{{ pedido.id }}</td>
        <td>{{ pedido.cliente.nombre }} {{ pedido.cliente.apellido }}</td>
        <td>
          <ul>
            <li *ngFor="let producto of pedido.productos">
              {{ producto.nombre }} - {{ producto.precio | currency }}
            </li>
          </ul>
        </td>
        <td>{{ pedido.total | currency }}</td>
        <td>{{ pedido.fechaCreacion | date : "short" }}</td>
        <td>
          <select
            class="form-select"
            [(ngModel)]="pedido.estado"
            (change)="actualizarEstado(i, pedido.estado)"
            [disabled]="pedido.estado === 'Entregado'"
          >
            <option *ngFor="let estado of estados" [value]="estado">
              {{ estado }}
            </option>
          </select>
        </td>
        <td>
          <button
            class="btn btn-warning btn-sm me-2"
            data-bs-toggle="modal"
            data-bs-target="#pedidoModal"
            (click)="editarPedido(i)"
            [disabled]="
              pedido.estado === 'Entregado' || pedido.estado === 'Cancelado'
            "
          >
            Editar
          </button>
          <button
            class="btn btn-danger btn-sm"
            data-bs-toggle="modal"
            data-bs-target="#pedidoModal"
            [disabled]="
              pedido.estado === 'Entregado' || pedido.estado === 'Cancelado'
            "
            (click)="eliminarPedido(i)"
          >
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
